:root {
    --primary: #54daff;
    --secondary: #93ff60;
    --dark-dark: #181a1d;
    --dark: #1d2023;
    --drak-hover: #222529;
    --text-color: #fff;
    --text-color-muted: #515961;
    --light-color: #34383e;
    --light-color-hover: #303439;
    --border-color: #2b2d30;
    --danger: #ff5454;
    --border: 1px solid var(--border-color);
    --border-radius: 0.75rem;
    --padding-big: 4.25rem;
    --input-padding: 1rem 1.5rem;
    --li-padding: 0.75rem 1rem;
}
* {
    box-sizing: border-box;
    color: var(--text-color);
}
body {
    display: grid;
    grid-template-columns: minmax(300px, 420px) 3fr;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    line-height: 1.75rem;
    background-color: var(--dark);
}
aside {
    background: var(--dark-dark);
    border-right: var(--border);
    padding: var(--padding-big);
    overflow: auto;
}
h1 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: bold;
}
h2 {
    font-size: 2.25rem;
    line-height: 2.25rem;
    font-weight: bold;
}
h3 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: bold;
}
i {
    pointer-events: none;
}
.center {
    text-align: center;
}
input {
    background-color: var(--dark);
    width: 100%;
    height: 3rem;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--input-padding);
    transition: border-color 0.2s ease-in-out;
}
input:focus {
    outline: none;
    border-color: var(--light-color);
}
::placeholder {
    color: var(--text-color-muted);
}
::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background: var(--dark-dark);
}
::-webkit-scrollbar-thumb {
    background: var(--light-color);
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-dark);
}
a {
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li.nav-item:not(.add-article-category) {
    padding: 0 !important;
    position: relative;
}
li.nav-item a {
    display: block;
    width: calc(100% - 2rem);
}
li.nav-level-3 svg {
    display: none !important;
}
li.nav-level-1:not(.add-article-category) svg {
    position: absolute;
    cursor: pointer;
    padding: 0.5rem 1rem;
    top: -0.5rem;
}
li.nav-level-1 a {
    max-height: 6.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
li.nav-item:not(.nav-level-1) {
    height: 2rem;
}
li.nav-item:not(.nav-level-1) a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
li.nav-item:not(.nav-level-1) {
    padding: var(--li-padding);
    margin-top: 0.25rem;
    border-radius: var(--border-radius);
    cursor: pointer;
}
li.nav-item:not(.nav-level-1) a {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    line-height: 0.9rem;
    height: 2rem;
    width: calc(100% - 2rem);
    border-radius: var(--border-radius);
}
li.nav-item:not(.nav-level-1) svg {
    display: inline-block;
    padding: 0.5rem 1rem;
    height: 0.9rem;
}
li.nav-item:not(.nav-level-1) a:hover {
    background-color: var(--dark);
}
li.nav-item:not(.nav-level-1) a:focus {
    background-color: var(--light-color);
}
li.nav-item:not(.add-article-category) svg {
    position: absolute;
    right: -1rem;
}
li.nav-item:not(.add-article-category) svg:hover {
    background-color: var(--dark);
    border-radius: var(--border-radius);
}
li.nav-item svg {
    display: none !important;
}
li.nav-item:hover svg {
    display: inline-block !important;
}
li.active-nav:not(.nav-level-1) a {
    background-color: var(--light-color);
}
li.active-nav:not(.nav-level-1) a:hover {
    background-color: var(--light-color-hover) !important;
}
li.active-nav svg:hover {
    background-color: var(--light-color) !important;
}
li.nav-level-1 svg {
    display: inline-block !important;
}
.nav-level-1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: bold;
}
.nav-level-3 {
    margin-left: 1.5rem;
}
.nav-level-4 {
    margin-left: 3rem;
}
.logo-wrapper {
    margin: 2rem 0 2.5rem 0;
    cursor: pointer;
}
main {
    background: var(--dark);
    overflow: auto;
    background: radial-gradient(69% 69% at 69% 0%, var(--light-color) 0%, var(--dark) 100%);
}
main > div {
    margin: auto;
    max-width: 50vw;
    width: 60%;
}
.add-article-category {
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    cursor: pointer;
    text-align: center;
    border-radius: var(--border-radius);
    padding: var(--li-padding);
}
.invisible {
    visibility: hidden;
}
[contenteditable="true"] {
    outline: none;
}
.alert {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.alert-content {
    background-color: var(--light-color);
    border-radius: var(--border-radius);
    padding: 4rem;
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
}
.alert-title {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.alert-message {
    margin-bottom: 2rem;
}
.alert-buttons {
    display: flex;
    justify-content: flex-end;
}
.alert-buttons > * {
    margin: 0.5rem 1rem;
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: var(--dark-dark);
    border: none;
}
.alert-confirm {
    background-color: var(--danger);
}

.hover-opacity:hover {
    opacity: 0.7;
}

main-article {
    display: flex;
    margin-top: 20vh;
}
main-article input {
    display: block;
    width: 60%;
    margin: 4rem auto 0 auto;
}
term-article article {
    margin-top: 10vh;
}
term-article .breadcrumbs a {
    text-decoration: underline;
}
term-article p:not([contenteditable="true"]) a {
    position: relative;
    display: inline;
    background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    background-position: 100%;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
term-article p:not([contenteditable="true"]) a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    outline: 1px solid var(--primary);
    width: 100%;
}

term-article p[contenteditable="true"] a {
    background: none;
    -webkit-text-fill-color: var(--text-color);
    cursor: text;
    font-weight: normal;
}
term-article p[contenteditable="true"] a:hover {
    opacity: 1;
    text-decoration: none;
}
term-article .sub-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-size: 2.25rem;
}
term-article .title-area {
    display: flex;
    justify-content: space-between;
    position: relative;
}
term-article .title {
    width: calc(100% - 4rem);
}
term-article .content {
    min-height: 300px;
}
term-article .edit-icon {
    cursor: pointer;
    font-size: 2rem;
}
term-article .fa-chevron-right {
    margin: 0 1rem;
}
term-article .delete-icon {
    position: absolute;
    cursor: pointer;
    right: -5rem;
}
term-article[is-new] .delete-icon {
    display: none;
}
term-article .delete-icon:hover {
    color: var(--danger);
}
term-article textarea.new-article-content {
    width: 100%;
    height: fit-content;
    border: none;
    background: none;
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    resize: none;
    overflow: hidden;
}
term-article input.new-article-title {
    width: 100%;
    height: fit-content;
    border: none;
    background: none;
    font-family: "Inter", sans-serif;
    font-size: 2.25rem;
    line-height: 2.25rem;
    padding: 0;
    overflow: hidden;
}
term-article textarea.new-article-content:focus,
term-article textarea.new-article-title:focus {
    outline: none;
}
